@charset "UTF-8";
html body {
    background-color: rgb(71,215,172);

}
#formInscription {
	background-color: rgb(90,80,82);
	width:510px;
	margin:auto;
	color: white;
}
.container-main{
	width:100%;
}