@import url('https://fonts.googleapis.com/css?family=Roboto');
html body {
    background-color: rgb(71,215,172);
    font-family: 'Roboto', sans-serif;
}
.col.align-self-start{
    padding-right: 65%;
    margin-left: 75px;
}
img {
    border-radius: 50%;
    width: 120px;
}
.container.rounded{
    background-color: white;
    margin-top: 75px;
    width: 50%;
}

.col{
    margin-bottom: 25px;
}

Header {
	background-image: url("img/HeaderBackground.jpg");
	height:150px;
}

Footer {
	background-image: url("img/FooterBackground.png");
	background-size: 100%;
	height:150px;
}